body {
    background-color: rgb(253, 134, 91);
    font: normal 12pt Arial;
}

header {
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

div {
    padding: 8px;
}

img {
    max-width: 100%;
}

@media (max-width: 460px) {
    
}